<% provide :title, t(".show") %>
<%= image_tag @user.image.thumb.url %>
<%= @user.code %>
| <%= @user.name %>
<!-- <br>
<h1>Subject</h1>
<%# @subjects.each do |subject| %>
  <div>
    <%#= subject.id %>
    | <%#= subject.name %>
    | <%#= link_to t("delete"), user_subject_url, method: :delete,
      data: { confirm: t("sure") } %>
  </div>
<%# end %> -->
<br>
<h1><%= @rooms.count %> classroom(s)</h1>
<% @rooms.each do |room| %>
  <div>
    Classroom: <%= room.id %> (subject: <%= room.subject_id %>)
    | <%= room.code %>
    | <%= room.capacity %>
    <br>&emsp;Subject: <%= room.subject.name %>
    <% @room_users.each do |ru| %>
      <% if (ru.room_id == room.id)%>
        | <%= link_to t("delete"), "/room_users/#{ru.id}", method: :delete,
          data: { confirm: t("sure") } %>
      <% end %>
    <% end %>
  </div>
  <hr align="left" width="400px">
<% end %>
