<div class="row">
  <%= form_tag(rooms_path, method: :get) do %>
    <%= text_field_tag :term, params[:term], class: "col-md-7 mb-2" %>
    <%= submit_tag t("search"), name: nil, class: "mb-2 bg-primary" %>
  <% end %>
</div>

<% @rooms.each do |room| %>
  <div>
    <%= t ".code" %>:
    <%= link_to room.code, room %>
    | <%= room.capacity %>
    | <%= link_to t("edit"), "/rooms/#{room.id}/edit" %>
    | <%= link_to t("delete"), room, method: :delete,
        data: {confirm: t("sure")}  %>
  </div>
<% end %>

<%= will_paginate @rooms,
  renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
