<% provide :title, t(".show") %>
<h1><%= t ".show" %></h1>
<%= @room.code %>
| max: <%= @room.capacity %>
| <%= @room.subject_id %>: <%= Subject.find(@room.subject_id).code %>
<br>
<h2>(<%= @users.count %>) <%= t (".list") %></h2>
<br>
<% @users.each do |user| %>
  <%= user.code %>
  | <%= user.name %>
  <% @room_users.each do |ru| %>
      <% if (ru.user_id == user.id) %>
      | <%= link_to t("delete"), "/room_users/#{ru.id}", method: :delete,
          data: {confirm: t("sure")} %>
      <% end %>
  <% end %>
  <hr align="left" width="400px">
<% end %>
