<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= render "layouts/default_icon" %>
    <%= render "layouts/joinIE" %>
  </head>

  <body class="view">
    <div class="container bg-light m-contain">
      <%= render "layouts/header" %>
      <div class="m-place">
        <% flash.each do |message_type, message| %>
          <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
        <% end %>
        <%= yield %>
      </div>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
